{% extends "bootstrap/base.html" %}


{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="/">主页</a></li>
            <li role="presentation"><a href="/postsSort/all">攻略排行</a></li>
            <li role="presentation"><a href="/itemSort/all">商品跳TB</a></li>
            <li role="presentation"><a href="/itemsSort/all">攻略跳商品跳TB</a></li>
        </ul>

    </div>
</div>
{% endblock %}



{% block content %}
  <h1>Hello, Life</h1>
{% endblock%}