{% extends "bootstrap/base.html" %}


{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <ul class="nav nav-tabs">
            <li role="presentation" ><a href="/">主页</a></li>
            <li role="presentation" ><a href="/postsSort/all">攻略排行</a></li>
            <li role="presentation"><a href="/itemSort/all">商品跳TB</a></li>
            <li role="presentation" class="active" ><a href="/itemsSort/all">攻略跳商品跳TB</a></li>
        </ul>

    </div>
</div>
{% endblock %}




{% block content %}

<table class="table">
   <caption>攻略跳商品跳TB统计</caption>
   <thead>
      <tr>
         <th>商品名称</th>
         <th>跳转次数</th>
      </tr>
   </thead>
   <tbody>

   {% set outer_loop = loop %}
     {% for item in obj %}
       <!--第一位-->
      {% if loop.index == 1 %}
      <tr class="success">
         <td>{{ item['Name'] }}</td>
         <td>{{ item['count']}}</td>
      </tr>
      {% elif loop.index == 2 %}
      <!--第二位-->
      <tr class="warning">
         <td>{{ item['Name'] }}</td>
         <td>{{ item['count']}}</td>
      </tr>
      {% elif loop.index == 3%}
      <!--第三位-->
      <tr class="danger">
         <td>{{ item['Name'] }}</td>
         <td>{{ item['count']}}</td>
      </tr>
      {% else %}
      <tr class="active">
         <td>{{ item['Name'] }}</td>
         <td>{{ item['count']}}</td>
      </tr>
      {% endif %}
     {% endfor %}
   </tbody>
</table>


{% endblock%}